In [5]:
import pandas as pd
import sqlite3 as db
from yfapi import YahooFinanceAPI, Interval
from datetime import datetime

In [3]:
conn = db.connect('pricedata.db')

In [4]:
cn = conn.cursor()

In [6]:
dh = YahooFinanceAPI(Interval.DAILY)
now = datetime(2022, 11, 26)
then = datetime(2022, 11, 19)
df = dh.get_ticker_data("BTC-USD", then, now)

In [12]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-11-19,16696.220703,16797.876953,16570.410156,16711.546875,16711.546875,1.610622e+10
1,2022-11-20,16712.919922,16746.779297,16248.692383,16291.832031,16291.832031,2.131338e+10
2,2022-11-21,16291.223633,16291.223633,15599.046875,15787.284180,15787.284180,3.742949e+10
3,2022-11-22,15782.300781,16253.047852,15656.606445,16189.769531,16189.769531,3.072683e+10
4,2022-11-23,16195.588867,16638.193359,16170.502930,16610.707031,16610.707031,3.295888e+10
5,2022-11-24,16611.636719,16771.474609,16501.767578,16604.464844,16604.464844,2.612904e+10
6,2022-11-25,16602.269531,16603.316406,16388.404297,16521.841797,16521.841797,1.867826e+10
7,2022-11-26,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.to_sql("BTC", conn)

8

In [20]:
cn.execute('select * from BTC')

In [11]:
print(cn.fetchall())

[(0, '2022-11-19 00:00:00', 16696.220703, 16797.876953, 16570.410156, 16711.546875, 16711.546875, 16106223492.0), (1, '2022-11-20 00:00:00', 16712.919922, 16746.779297, 16248.692383, 16291.832031, 16291.832031, 21313378652.0), (2, '2022-11-21 00:00:00', 16291.223633, 16291.223633, 15599.046875, 15787.28418, 15787.28418, 37429485518.0), (3, '2022-11-22 00:00:00', 15782.300781, 16253.047852, 15656.606445, 16189.769531, 16189.769531, 30726828760.0), (4, '2022-11-23 00:00:00', 16195.588867, 16638.193359, 16170.50293, 16610.707031, 16610.707031, 32958875628.0), (5, '2022-11-24 00:00:00', 16611.636719, 16771.474609, 16501.767578, 16604.464844, 16604.464844, 26129037414.0), (6, '2022-11-25 00:00:00', 16602.269531, 16603.316406, 16388.404297, 16521.841797, 16521.841797, 18678255976.0), (7, '2022-11-26 00:00:00', None, None, None, None, None, None)]

In [ ]:
cn.execute('select * from BTC')

In [21]:
l = cn.fetchall()

In [22]:
print(l)

[(0, '2022-11-19 00:00:00', 16696.220703, 16797.876953, 16570.410156, 16711.546875, 16711.546875, 16106223492.0), (1, '2022-11-20 00:00:00', 16712.919922, 16746.779297, 16248.692383, 16291.832031, 16291.832031, 21313378652.0), (2, '2022-11-21 00:00:00', 16291.223633, 16291.223633, 15599.046875, 15787.28418, 15787.28418, 37429485518.0), (3, '2022-11-22 00:00:00', 15782.300781, 16253.047852, 15656.606445, 16189.769531, 16189.769531, 30726828760.0), (4, '2022-11-23 00:00:00', 16195.588867, 16638.193359, 16170.50293, 16610.707031, 16610.707031, 32958875628.0), (5, '2022-11-24 00:00:00', 16611.636719, 16771.474609, 16501.767578, 16604.464844, 16604.464844, 26129037414.0), (6, '2022-11-25 00:00:00', 16602.269531, 16603.316406, 16388.404297, 16521.841797, 16521.841797, 18678255976.0), (7, '2022-11-26 00:00:00', None, None, None, None, None, None)]

In [26]:
type(l[0][1])

str

In [27]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [29]:
df.set_index('Date',inplace=True)

In [31]:
df.to_sql("BTC", conn, if_exists='replace')

8

In [32]:
cn.execute('select * from BTC')

In [33]:
l2 = cn.fetchall()

In [34]:
print(l2)

[('2022-11-19 00:00:00', 16696.220703, 16797.876953, 16570.410156, 16711.546875, 16711.546875, 16106223492.0), ('2022-11-20 00:00:00', 16712.919922, 16746.779297, 16248.692383, 16291.832031, 16291.832031, 21313378652.0), ('2022-11-21 00:00:00', 16291.223633, 16291.223633, 15599.046875, 15787.28418, 15787.28418, 37429485518.0), ('2022-11-22 00:00:00', 15782.300781, 16253.047852, 15656.606445, 16189.769531, 16189.769531, 30726828760.0), ('2022-11-23 00:00:00', 16195.588867, 16638.193359, 16170.50293, 16610.707031, 16610.707031, 32958875628.0), ('2022-11-24 00:00:00', 16611.636719, 16771.474609, 16501.767578, 16604.464844, 16604.464844, 26129037414.0), ('2022-11-25 00:00:00', 16602.269531, 16603.316406, 16388.404297, 16521.841797, 16521.841797, 18678255976.0), ('2022-11-26 00:00:00', None, None, None, None, None, None)]

In [37]:
type(l2[0][0])

str

In [39]:
df.index[0]

Timestamp('2022-11-19 00:00:00')

In [40]:
df.index = df.index.strftime("%Y-%m-%d")

In [41]:
df.index

Index(['2022-11-19', '2022-11-20', '2022-11-21', '2022-11-22', '2022-11-23',
       '2022-11-24', '2022-11-25', '2022-11-26'],
      dtype='object', name='Date')

In [42]:
df.index[0]

'2022-11-19'

In [43]:
conn.commit()

In [44]:
conn.close()